<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home@Summer</title>
    <link rel="stylesheet" href="static/css/app.css">    
</head>
<body>
    <div id="head">
        <h1 class="name_title">Summer-半夏</h1>
    </div>
    <div>
    </div>
    
    <div id="content">
        <br  />
        <img class="self" src="static/img/xueli.png" alt="鹂落的手绘哦~">
        <h2>Summer Cheng, Clinical Medicine, Fudan University </h2>
        <p><i>Pinellia ternata</i> (Chinese: 半夏) is known as the herb effective in removing dampness-phlegm, an important and common pathological factors in traditional Chinese medicine. I fell in love with this kind of plant at first sight.</p>
        <p>As a girl with herb personality of <i>Pinellia ternata</i>, my ambition is to <b>relieve the pain and provide comfort.</b></p>
    </div>

</body>
</html>

